<h1>Progress#new</h1>
<p>Find me in app/views/progress/new.html.erb</p>

<%= form_for @progress do |f| %>
    <p>
      <%= f.label :body,"進捗" %>
      <%= f.text_field :body %>
    </p>
    <%= f.submit %>
  <% end %>