@import "bootstrap";

.container {
    table tbody tr {
        td {
            vertical-align: middle;
        }

        td.button {
            width: 8%;
        }

        td.long-button {
            width: 15%;
        }
    }
}